#LIBRERIAS

In [2]:
import pandas as pd #pip intall pandas

# Cargar datos

In [3]:
df=pd.read_csv("./dataset.csv")
df.head(5)

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [10]:
df.describe

<bound method NDFrame.describe of         id                                          full_text  favorites  \
0   183721  Flying home to run down from the power to comi...       23.0
1   183722                Today we commemorate and MNML Case.      500.0
2   183723       Today we have reached US$6.55 Billion TT$44‚Ä¶      190.0
3   183724  Faking It by Joel Atwell. Written by Other cou...      131.0
4   183725                                    Welcome back! üôå      113.0
5   183726  Contest: Win a fan of his ass. #thatisall Thanks!      492.0
6   183727                                 80's & friends! ‚úàÔ∏è      158.0
7   183728  Thank you guess how did I feel somewhat offend...        NaN
8   183729        OnePlus 8 international giveaway classifies      198.0
9   183730                Here it is.. Retweet this desperate      272.0
10  183731  Great to advertise during the year I tweeted a...       43.0
11  183732  Its been in love with the game with the origin...      349.0
12  183733                           Programming is the best!      467.0
13  183734                             I cannot believe this!       50.0
14  183735                             Buy this product NOW!!      418.0
15  183736  I have one is best color gradients: Just relea...      361.0
16  183737                                              PIC!!      346.0
17  183738                             hmmm feeling bad today      296.0
18  183739                          not feeling god right now      315.0
19  183740                        Programming is a hot topic!      133.0
20  183741                            Programming? i love it!       92.0
21  183742                                            WHAT???      255.0
22  183743                         Amazing video by Leonardo!      432.0
23  183744                                        Thanks man!      430.0
24  183745          There is nothing better than programming!      424.0
25  183746                                           BORED AF      488.0
26  183747  I do not know if i like programming or other t...      318.0

    retweets  mentions  country             user  followers  followees
0        NaN      10.0  ECUADOR    leonardokuffo      389.0        258
1       21.0       NaN   BRASIL    mateusmartins      982.0       1822
2      123.0       6.0   MEXICO      pedrojuarez       12.0        129
3       76.0       3.0  ECUADOR     galocastillo      332.0        378
4      130.0       9.0   MEXICO      pedrojuarez       12.0        129
5       70.0       6.0   BRASIL    mateusmartins      982.0       1822
6       40.0      22.0  ECUADOR    leonardokuffo      389.0        258
7       50.0      10.0   MEXICO      pedrojuarez       12.0        129
8       82.0      26.0   MEXICO      pedrojuarez       12.0        129
9       92.0      29.0   BRASIL    mateusmartins      982.0       1822
10     111.0       8.0   BRASIL    mateusmartins      982.0       1822
11      44.0      19.0   BRASIL    mateusmartins      982.0       1822
12      69.0      10.0  ECUADOR    leonardokuffo      389.0        258
13      24.0      22.0  ECUADOR    leonardokuffo      389.0        258
14      24.0       2.0   MEXICO  gabrielcarvajal       21.0       2721
15      92.0       1.0   MEXICO      pedrojuarez       12.0        129
16     115.0      24.0   BRASIL       lucasperes       82.0        351
17      93.0      29.0   MEXICO  gabrielcarvajal       21.0       2721
18      26.0      10.0  ECUADOR     galocastillo      332.0        378
19     145.0      15.0   BRASIL       lucasperes       82.0        351
20     146.0       1.0  ECUADOR     galocastillo      332.0        378
21      73.0      17.0  ECUADOR     galocastillo      332.0        378
22      95.0      18.0   BRASIL       lucasperes       82.0        351
23     143.0      28.0   BRASIL       lucasperes        NaN        351
24     110.0      29.0   BRASIL       lucasperes       82.0        351
25      28.0      27.0   MEXICO  gabrielcarvajal       21.0       2721
26      58.0      20.0   BRASIL  isabelladasilva      928.0       9918  >

In [11]:
df["favorites"]

0      23.0
1     500.0
2     190.0
3     131.0
4     113.0
5     492.0
6     158.0
7       NaN
8     198.0
9     272.0
10     43.0
11    349.0
12    467.0
13     50.0
14    418.0
15    361.0
16    346.0
17    296.0
18    315.0
19    133.0
20     92.0
21    255.0
22    432.0
23    430.0
24    424.0
25    488.0
26    318.0
Name: favorites, dtype: float64

In [12]:
df.loc[0:2]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129

In [13]:
df.loc[[0,1,7]]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
7,183728,Thank you guess how did I feel somewhat offend...,NaN,50.0,10.0,MEXICO,pedrojuarez,12.0,129

In [14]:
df.loc[[1,7],["favorites"]]

   favorites
1      500.0
7        NaN

In [15]:
df.loc[:,["favorites"]]

    favorites
0        23.0
1       500.0
2       190.0
3       131.0
4       113.0
5       492.0
6       158.0
7         NaN
8       198.0
9       272.0
10       43.0
11      349.0
12      467.0
13       50.0
14      418.0
15      361.0
16      346.0
17      296.0
18      315.0
19      133.0
20       92.0
21      255.0
22      432.0
23      430.0
24      424.0
25      488.0
26      318.0

In [16]:
#seleccionaer por condici√≥n

df[df["favorites"]>400]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
5,183726,Contest: Win a fan of his ass. #thatisall Thanks!,492.0,70.0,6.0,BRASIL,mateusmartins,982.0,1822
12,183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258
14,183735,Buy this product NOW!!,418.0,24.0,2.0,MEXICO,gabrielcarvajal,21.0,2721
22,183743,Amazing video by Leonardo!,432.0,95.0,18.0,BRASIL,lucasperes,82.0,351
23,183744,Thanks man!,430.0,143.0,28.0,BRASIL,lucasperes,NaN,351
24,183745,There is nothing better than programming!,424.0,110.0,29.0,BRASIL,lucasperes,82.0,351
25,183746,BORED AF,488.0,28.0,27.0,MEXICO,gabrielcarvajal,21.0,2721

In [ ]:
df[(df["favorites"]>400)&(df["mentions"]>20)]

In [ ]:
dff=df.loc[9:19]
            #(df["favorites"]>400)&(df["mentions"]>20)]

NameError: name 'df' is not defined

In [2]:
df=pd.read_csv("./dataset.csv")
df.head(5)

NameError: name 'pd' is not defined

In [3]:
import pandas as pd #pip intall pandas

In [4]:
df=pd.read_csv("./dataset.csv")
df.head(5)

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
0,183721,Flying home to run down from the power to comi...,23.0,NaN,10.0,ECUADOR,leonardokuffo,389.0,258
1,183722,Today we commemorate and MNML Case.,500.0,21.0,NaN,BRASIL,mateusmartins,982.0,1822
2,183723,Today we have reached US$6.55 Billion TT$44‚Ä¶,190.0,123.0,6.0,MEXICO,pedrojuarez,12.0,129
3,183724,Faking It by Joel Atwell. Written by Other cou...,131.0,76.0,3.0,ECUADOR,galocastillo,332.0,378
4,183725,Welcome back! üôå,113.0,130.0,9.0,MEXICO,pedrojuarez,12.0,129

In [6]:
dff=df.loc[9:19]
dff[(dff["favorites"]>400)&(dff["mentions"]>9)]

,id,full_text,favorites,retweets,mentions,country,user,followers,followees
12,183733,Programming is the best!,467.0,69.0,10.0,ECUADOR,leonardokuffo,389.0,258